.Reply {
    padding: 8vw var(--Hpadding) 6vw;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #fff;
    align-items: flex-start;
}

.Reply p {
    margin-bottom: 1vw;
}

.Reply h2 {
    text-align: center;
}

.Action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1vw;
}

.Action button {
    height: var(--btheight);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-size: var(--font12);
}

.Action button:nth-child(1) {
    width: 30%;
    border: 1px solid ;
    color: var(--blue);
}

.Action button:nth-child(2) {
    width: 65%;
    font-weight: 700;
    background: var(--blue);
    color: var(--white);
}

.TextWarning {
    color: var(--warning);
    font-weight: 600!important;
}

.Reply p {
    font-size: var(--font12);
    text-align: center;
}

.Reply p span {
    font-weight: 100;
}