button.Button {
    width: 20vw;
    height: 20vw;
    border-radius: 100%;
    box-shadow: var(--beefShadow);
    position: relative;
    max-width: 100px;
    max-height: 100px;
    background: var(--white);
    overflow: hidden;
    margin: 5vw 0 0;
}

button.Button svg {
    color: var(--black);
    width: 100%;
    height: 100%;
    padding: 26%;
}

button.Button input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0; 
}

@media (min-width:1000px) {
    button.Button {
        margin: 0 300px;
    }
}